.contact-info-screen-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bcgnd-start);
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  /* no positioning; arrow should position relative to box */
}
.contact-info-box {
  display: flex;
  width: 450px;
  height: 450px;
  background-color: #f7f5f3;
  padding: 20px 40px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative; /* reference for the arrow */
}
.contact-avatar-info {
  display: flex;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.arrow-back-button-info {
  display: flex;
  position: absolute; /* relativo al .contact-info-box */
  border-radius: 50px;
  top: 20px; /* 10px desde el borde superior del cuadro */
  left: 20px; /* 10px desde el borde izquierdo del cuadro */
  z-index: 5;
  background-color: transparent;
  cursor: pointer;
}

.arrow-button {
  display: flex;
  border-radius: 50%;
  background: none;
  border: none;
  cursor: pointer;
}

.arrow-button:hover {
  background-color: var(--color-border-header);
}

.arrow-button:active {
  background-color: var(--color-back-button-active);
}

@media (max-width: 480px) {
  .contact-info-box {
    width: 100vw;
    height: 100vh;
    border-radius: 0px;
  }
}
