.login-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  width: 100vw;
  min-height: 100vh;

  background-color: rgb(190, 200, 190);
  padding: 20px;
}
