* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

/* body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, sans-serif;
  background-color: greenyellow;
  color: #333;
  height: 100%;
  width: 100%;
  overflow: hidden;
} */
/*background-color: yellow;*/

/* #root {
  width: 100%;
  height: 100%;
  display: flex;
} */

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
}

textarea {
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
}

input,
textarea,
button {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

/* Mobile optimizations */
@media (max-width: 770px) {
  html,
  body,
  #root {
    width: 100vw;
    height: 100vw;
  }

  textarea,
  input {
    font-size: 16px;
  }
}
