.home-screen-container {
  display: flex;
  height: 100%;
  width: 100vw;
}

.chat-area-empty {
  flex: 1;
  background-color: var(--color-background);
  background-image: url("/images/backchat.jpg");
  display: flex;
  width: 100%;
  justify-content: center;
  color: var(--color-msg);
}

.empty-state {
  text-align: center;
}

.empty-state-title {
  font-size: var(--font-size-header);
  color: var(--color-sidebar-header-title);
}

/* Responsive Design */
@media (max-width: 770px) {
  .home-screen-container {
    flex-direction: column;
  }

  .chat-area-empty {
    display: none;
  }

  .empty-state-title {
    font-size: var(--font-size-std);
  }
}
