.home-screen-container {
  display: flex;
  height: 100vh;
}

.chat-area-empty {
  flex: 1;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}

.empty-state {
  text-align: center;
}
